<%- include('./partials/header')%>
<h1>Log In:</h1>

<div class="container" style="width: 40%;">
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"name="username" placeholder="username" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
<%- include('./partials/footer')%>